In [1]:
import streamlit as st
import pandas as pd 
import plotly.express as px

In [ ]:
def load_data():
    data = pd.read_csv('../vehicles.csv')
    data['marca'] = data['model'].str.split().str[0]
    data['is_4wd'] = data['is_4wd'].fillna(0.0)
    data['paint_color'] = data['paint_color'].fillna('unknown')
    data['prob_cylinders'] = data['cylinders'].fillna(data.groupby('model')['cylinders'].transform(lambda x: x.mode()[0]))
    data['date_posted'] = pd.to_datetime(data['date_posted'])
    return data

df = load_data()

In [4]:
df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   price           51525 non-null  int64
 1   model_year      47906 non-null  float64
 2   model           51525 non-null  object
 3   condition       51525 non-null  object
 4   cylinders       46265 non-null  float64
 5   fuel            51525 non-null  object
 6   odometer        43633 non-null  float64
 7   transmission    51525 non-null  object
 8   type            51525 non-null  object
 9   paint_color     51525 non-null  object
 10  is_4wd          51525 non-null  float64
 11  date_posted     51525 non-null  datetime64[ns]
 12  days_listed     51525 non-null  int64
 13  marca           51525 non-null  object
 14  prob_cylinders  51525 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(7)
memory usage: 5.9+ MB

In [ ]:
df.isna().sum().sort_values(ascending=False)

In [ ]:
#Provavelmente os valores ausentes são os q não tem tração de roda
df['is_4wd'].value_counts()

In [ ]:
df['is_4wd'] = df['is_4wd'].fillna(0.0)

In [ ]:
df['paint_color'] = df['paint_color'].fillna('unknown')

In [ ]:
df.groupby('model')['cylinders'].apply(lambda x: x.mode()[0])

In [ ]:
df.groupby('model')['cylinders'].transform(lambda x: x.mode()[0])

In [ ]:
df['prob_cylinders'] = df['cylinders'].fillna(df.groupby('model')['cylinders'].transform(lambda x: x.mode()[0]))

In [ ]:
df[df['model_year'].isna()]

In [ ]:
df['model_year'] = df['model_year'].fillna(-1) 

df.isna().sum()