In [1]:
import streamlit as st
import pandas as pd 
import plotly.express as px

In [4]:
def load_data():
    data = pd.read_csv('../vehicles.csv')
    data['marca'] = data['model'].str.split().str[0]
    data['is_4wd'] = data['is_4wd'].fillna(0.0)
    data['paint_color'] = data['paint_color'].fillna('unknown')
    data['prob_cylinders'] = data['cylinders'].fillna(data.groupby('model')['cylinders'].transform(lambda x: x.mode()[0]))
    data['model_year'] = data['model_year'].fillna(-1) 
    return data

df = load_data()

In [5]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,marca,prob_cylinders
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,unknown,1.0,2018-06-23,19,bmw,6.0
1,25500,-1.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,6.0
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79,hyundai,4.0
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,unknown,0.0,2019-03-22,9,ford,8.0
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28,chrysler,4.0

In [6]:
df.isna().sum().sort_values(ascending=False)

odometer          7892
cylinders         5260
price                0
model_year           0
model                0
condition            0
fuel                 0
transmission         0
type                 0
paint_color          0
is_4wd               0
date_posted          0
days_listed          0
marca                0
prob_cylinders       0
dtype: int64

In [ ]:
#Provavelmente os valores ausentes são os q não tem tração de roda
df['is_4wd'].value_counts()

In [ ]:
df['is_4wd'] = df['is_4wd'].fillna(0.0)

In [ ]:
df['paint_color'] = df['paint_color'].fillna('unknown')

In [ ]:
df.groupby('model')['cylinders'].apply(lambda x: x.mode()[0])

In [ ]:
df.groupby('model')['cylinders'].transform(lambda x: x.mode()[0])

In [ ]:
df['prob_cylinders'] = df['cylinders'].fillna(df.groupby('model')['cylinders'].transform(lambda x: x.mode()[0]))

In [ ]:
df[df['model_year'].isna()]

In [ ]:
df['model_year'] = df['model_year'].fillna(-1) 

df.isna().sum()